<script type="text/javascript">
	
	// Globals
	var sPrevListIdx = -1;
	
	
	/**
	 * Handle List Mouse Over
	 *
	 * @param {int} inState True for entry, false for exit
	 * @param {int} inIdx List index
	 */ 
	function handleListMouseOver
		(
		inState,
		inIdx
		)
	{
		// Make sure it is not the current item
		if( inIdx == sPrevListIdx )
			return;
			
		var titlebar = document.getElementById( "div_list_title_" + inIdx );
		if( titlebar )
		{
			var color = ( inState ) ? "#CCCCFF" : "#FFFFFF";
			titlebar.style.backgroundColor = color;
		}
	}

	/**
	 * Highlight Specific List Item
	 *
	 * @param {int} inIdx List index
	 */
	function updateFromList
		(
		inIdx
		)
	{
		// Collapse Previous List Entry
		var prevContent = document.getElementById( "div_list_content_" + sPrevListIdx );
		if( prevContent )
		{
			prevContent.style.height = "0px";
			prevContent.style.border = "0px";
		}

		// Unhighlight Previous List Title Bar
		var titlebar = document.getElementById( "div_list_title_" + sPrevListIdx );
		if( titlebar )
		{
			titlebar.style.backgroundColor = "#FFFFFF";
		}
						
		// Expand List Entry	
		var content = document.getElementById( "div_list_content_" + inIdx );
		if( content )
		{
			content.style.height = "150px";
			content.style.border = "1px dashed black";
		}
		
		// Highlight List Title Bar
		var titlebar = document.getElementById( "div_list_title_" + inIdx );
		if( titlebar )
		{
			titlebar.style.backgroundColor = "#FF8700";
		}
		
		sPrevListIdx = inIdx;	
	}
	
	/**
	 * Handle List Item Clicked
	 *
	 * @param {int} inId Index of clicked item
	 */
	function handleListClick
		(
		inId
		)
	{
		// Extend list item details
		updateFromList( inId );
		
		// Highlight point on map
		var frame = window.frames['frame_map'];
		if( frame )
		{
			frame.selectFromList( inId );
		}			
	}
	
	/**
	 * Handle selection from map
	 *
	 * @param  {int} inId
	 */
	function handleSelectionFromMap
		(
		inId
		)
	{
		// Extend list item
		updateFromList( inId );
	}
	
</script>

<!-- Shadow Layer -->
<div style="position:relative; top:5px; left:5px; width:720px; height:400px; background-color:#FFFFFF;">
</div>

<!-- Black layer container -->
<div style="position:relative; top:-400px; left:0px; width:720px; height:410px; background-color:transparent; background-image: url('images/embed_background.png'); ">
	
	<!-- Map Box -->
	<div style="position:relative; top:15px; left:15px; width:475px; height:360px; background-color:white;">
		<iframe name="frame_map" id="frame_map" src="map_controller" width="475" height="360" marginwidth="0" marginheight="0" frameborder="no" scrolling="no"></iframe>
	</div>
	
	<!-- List Box -->
	<!-- Loop through all data points and add to list -->
	<div style="position:relative; top:-345px; left:500px; width:205px; height:360px; background-color:white; overflow-x: hidden; overflow-y: scroll;">
	
		<% companyIdx = 0 %>
		<% @companies.each do |company| %>
		
			<!-- List Title Bar -->
			<div id="div_list_title_<%= companyIdx %>" style="height:20px; background-color:#FFFFFF; overflow:hidden;" onMouseOver="javascript:handleListMouseOver( true, <%= companyIdx %> )" onMouseOut="javascript:handleListMouseOver( false, <%= companyIdx %> )" onClick="javascript:handleListClick( <%= companyIdx %> )">
				<span style="color:black; font-size:12px; font-family:Palatino, Times;">-<%= "#{company[:name]}" %></span><br>
			</div>
			
			<!-- List Content Box (hidden) -->
			<div id="div_list_content_<%= companyIdx %>" style="height:0px; background-color:#FFFFFF; overflow:hidden; border: 0px solid black;">
				<span style="color:black; font-size:12px; font-family:Palatino, Times;">
					<table>
						<tr><td style="color:black; font-size:12px; font-family:Palatino, Times;"><a href="<%= company[:url] %>"><%= company[:url] %></a></td></tr>
						<tr><td style="color:black; font-size:12px; font-family:Palatino, Times;"><%= company[:description] %></td></tr>
						<tr><td style="color:black; font-size:12px; font-family:Palatino, Times;"><%= company[:address] %></td></tr>
						<tr><td style="color:black; font-size:12px; font-family:Palatino, Times;"><%= company[:city] %>, <%= company[:state] %></td></tr>
					</table>				
				</span><br>
			</div>
			
			<% companyIdx += 1 %>
		<% end %>
		
	</div>

	<!-- Title Bar -->
	<div style="position:relative; top:-340px; left:20px; width:480px; height:20px; color:white; font-size:16px; font-family:Palatino, Times;">
		<span style="color:#FF8700;">eightonesix:</span> kansas city innovation directory
	</div>
		
</div>