<script type="text/javascript">
	
	// Globals
	var sPrevListIdx = -1;
	var sCrntListIdx = -1;
	
	
	/**
	 * Handle List Mouse Over
	 *
	 * @param {int} inState True for entry, false for exit
	 * @param {int} inIdx List index
	 */ 
	function handleListMouseOver
		(
		inState,
		inIdx
		)
	{
		// Make sure it is not the current item
		if( inIdx == sCrntListIdx )
			return;
			
		var titlebar = document.getElementById( "div_list_title_" + inIdx );
		if( titlebar )
		{
			var color = ( inState ) ? "#CCCCFF" : "#FFFFFF";
			titlebar.style.backgroundColor = color;
		}
	}

	/**
	 * Highlight Specific List Item
	 *
	 * @param {int} inIdx List index
	 */
	function updateFromList
		(
		inIdx
		)
	{
		// Ignore request if currently animating
		if( sIsAnimating )
			return;

		// Setup new list values
		sPrevListIdx = sCrntListIdx;
		sCrntListIdx = inIdx;
		
		// Unhighlight Previous List Title Bar
		var titlebar = document.getElementById( "div_list_title_" + sPrevListIdx );
		if( titlebar )
		{
			titlebar.style.backgroundColor = "#FFFFFF";
		}
		
		// Highlight List Title Bar
		var titlebar = document.getElementById( "div_list_title_" + sCrntListIdx );
		if( titlebar )
		{
			titlebar.style.backgroundColor = "#FF8700";
		}
		
		// Animate expand/contacting change
		animate_detail_expand();

	}
	
	
	// Animation Constants
	var sMinHeight = 0;
	var sMaxHeight = 150;
	var sDeltaHeight = 10;
	var sTimeout = 10;
	var sCrntExpandHeight = sMinHeight;
	var sPrevContractHeight = sMaxHeight;
	var sIsAnimating = false;
	
	/**
	 * Animate Expanding/Contracting Details Bars
	 */
	function animate_detail_expand()
	{		
		// Set animation state
		sIsAnimating = true;
		
		// Expand New List Entry	
		var contentExpand = document.getElementById( "div_list_content_" + sCrntListIdx );
		if( contentExpand )
		{
			if( sCrntExpandHeight != sMaxHeight )
			{
				// Expand content box
				sCrntExpandHeight += sDeltaHeight;
				contentExpand.style.height = sCrntExpandHeight + "px";
			}
			else
			{
				// Animation finished. Set up border and quit.
				contentExpand.style.border = "1px dashed black";
				sIsAnimating = false;
			}
		}
		else
		{
			// No entry found. End animation
			sIsAnimating = false;
		}
		
		// Contact Old List Entry
		if( sPrevListIdx >= 0 )
		{
			var contentContract = document.getElementById( "div_list_content_" + sPrevListIdx );
			if( contentContract )
			{
				if( sPrevContractHeight != sMinHeight )
				{
					sPrevContractHeight -= sDeltaHeight;
					contentContract.style.height = sPrevContractHeight + "px";
				}
				else
				{
					contentContract.style.border = "0px dashed black";
					sIsAnimating = false;
				}
			}
			
		}
		
		if( sIsAnimating )
		{
			// If animation has not finished, continue animation
			setTimeout( animate_detail_expand, sTimeout );
		}
		else
		{
			// Animation has finished. Reset values
			sPrevContractHeight = 150;
			sCrntExpandHeight = 0;
		}
	}
	
	
	/**
	 * Handle List Item Clicked
	 *
	 * @param {int} inId Index of clicked item
	 */
	function handleListClick
		(
		inId
		)
	{
		// Extend list item details
		updateFromList( inId );
		
		// Highlight point on map
		var frame = window.frames['frame_map'];
		if( frame )
		{
			frame.selectFromList( inId );
		}			
	}
	
	/**
	 * Handle selection from map
	 *
	 * @param  {int} inId
	 */
	function handleSelectionFromMap
		(
		inId
		)
	{
		// Extend list item
		updateFromList( inId );
	}
	
</script>

<!-- Shadow Layer -->
<div style="position:relative; top:5px; left:5px; width:720px; height:400px; background-color:#FFFFFF;">
</div>

<!-- Black layer container -->
<div style="position:relative; top:-400px; left:0px; width:720px; height:410px; background-color:transparent; background-image: url('images/embed_background.png'); ">
	
	<!-- Map Box -->
	<div style="position:relative; top:15px; left:15px; width:475px; height:360px; background-color:white;">
		<iframe name="frame_map" id="frame_map" src="map_controller" width="475" height="360" marginwidth="0" marginheight="0" frameborder="no" scrolling="no"></iframe>
	</div>
	
	<!-- List Box -->
	<!-- Loop through all data points and add to list -->
	<div style="position:relative; top:-345px; left:500px; width:205px; height:360px; background-color:white; overflow-x: hidden; overflow-y: scroll;">
	
		<% companyIdx = 0 %>
		<% @companies.each do |company| %>
		
			<!-- List Title Bar -->
			<div id="div_list_title_<%= companyIdx %>" style="height:20px; background-color:#FFFFFF; overflow:hidden;" onMouseOver="javascript:handleListMouseOver( true, <%= companyIdx %> )" onMouseOut="javascript:handleListMouseOver( false, <%= companyIdx %> )" onClick="javascript:handleListClick( <%= companyIdx %> )">
				<span style="color:black; font-size:12px; font-family:Palatino, Times;">-<%= "#{company[:name]}" %></span><br>
			</div>
			
			<!-- List Content Box (hidden) -->
			<div id="div_list_content_<%= companyIdx %>" style="height:0px; background-color:#EEEEEE; overflow:hidden; border: 0px solid black;">
				<span style="color:black; font-size:12px; font-family:Palatino, Times;">
					<table>
						<tr><td style="color:black; font-size:12px; font-family:Palatino, Times;"><a href="<%= company[:url] %>"><%= company[:url] %></a></td></tr>
						<tr><td style="color:black; font-size:12px; font-family:Palatino, Times;"><%= company[:description] %></td></tr>
						<tr><td style="color:black; font-size:12px; font-family:Palatino, Times;"><%= company[:address] %></td></tr>
						<tr><td style="color:black; font-size:12px; font-family:Palatino, Times;"><%= company[:city] %>, <%= company[:state] %></td></tr>
					</table>				
				</span><br>
			</div>
			
			<% companyIdx += 1 %>
		<% end %>
		
	</div>

	<!-- Title Bar -->
	<div style="position:relative; top:-340px; left:20px; width:480px; height:20px; color:white; font-size:16px; font-family:Palatino, Times;">
		<span style="color:#FF8700;">eightonesix:</span> kansas city innovation directory
	</div>
		
</div>